@font-face {
	font-family: "Montserrat";
	src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
	--font-color: #222;
	--web-background: #fff;
	--font-family: "Montserrat";
	--font-normal: 300;
	--font-large: 700;
	--font-bold: bold;
	--text-decoration: underline;
	--img-sizings: 300px;
	--img-container: fit-content;
	--heart-width: 27px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	line-height: 1.43;
	font-weight: var(--font-normal);
	color: var(--font-color);
	background-color: var(--web-background);
	margin: 0;
	line-break: strict;
}

#container1 {
	display: flex;
	gap: 2rem;
	flex-flow: row wrap;
	justify-content: center;
	padding-top: 15vh;
	padding-left: 5vw;
	max-width: 100vw;
	height: 900px;
	z-index: 2;
}

#container1 a {
	text-decoration: none;
	color: var(--font-color);
}

.image-container {
	position: relative;
	max-height: var(--img-container);
	max-width: var(--img-container);
}

.Heart {
	margin: 15px;
	margin-left: 260px;
	position: absolute;
	width: var(--heart-width);
	height: var(--heart-width);
	z-index: 3;
}

.Heart-Filled {
	margin: 15px;
	margin-left: 260px;
	opacity: 0%;
	position: absolute;
	width: var(--heart-width);
	height: var(--heart-width);
	z-index: 3;
	transition: all 0.5s ease-in-out;
}

.Heart-Filled:hover {
	opacity: 100%;
}

img{
	grid-area: 1/1/2/2;
	object-fit: cover;
	max-width: var(--img-sizings);
	height: var(--img-sizings);
	border-radius: 10px;
	z-index: -1;
}

.image-1 {
	position: absolute;
	left: 0;
	transition: all 0.5 ease-in-out;
	z-index: 2;
}

.image-1:hover {
	opacity: 0%;
}

.img-text {
	display: grid;
	align-items: center;
	max-width: var(--img-sizings);
	grid-template-columns: 80% 20%;
	grid-template-rows: repeat(5, 20px);
}

.country-name {
	font-weight: var(--font-large);
	grid-area: 1/1/2/2;
}

.description {
	grid-area: 2/1/3/2;
}

.date {
	grid-area: 3/1/4/2;
}

.rating {
	grid-area: 1/2/2/3;
}

.price {
	grid-area: 4/1/5/2;
	text-decoration: var(--text-decoration);
}

.digits {
	font-weight: var(--font-bold);
}
