@font-face {
	font-family: "Montserrat";
	src: url(../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

html {
	font-family: "Montserrat";
	font-size: 16px;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	font-weight: 400;
}

:root {
	--font-size-smallest: 0.6rem;
	--font-size-smaller: 0.7rem;
	--font-size-small: 0.875rem;
	--font-size-larger: 0.93rem;
	--font-size-header: 1.12rem;
	--font-size-largest: 1.18rem;
	--font-size-huge: 1.37rem;
	--font-weightL: 600;
	--font-weightS: 400;
	--spacing: normal;
	--spacing-negative: -0.01rem;
	--line-height-smaller: 1rem;
	--line-height-small: 1.125rem;
	--line-height-medium: 1.18rem;
	--line-height-standard: 1.25rem;
	--line-height-larger: 1.37rem;
	--line-height-Xtra: 1.62rem;
	--color-dark: #222;
	--color-light: #fff;
	--color-grey: #717171;
	--box-shadow1: 0 0.188rem 0.625rem rgba(0 0 0/0.1);
	--border1: 0.5px solid rgba(0 0 0/0.08);
	--border2: 1px solid #b0b0b0;
	--border-bottom: solid 0.125rem #222;
	--transitions: all 0.2s cubic-bezier(0, 2, 0, 0, 1);
	--padding-inline-start-end1: 0.25rem;
	--padding-inline-start-end2: 1.5rem;
	--padding-inline-start-end3: 2rem;
	--padding-top-bottom: 0.875rem;
	--padding-left: 0.125rem;
	--paddingZero: 0;
	--padding1: 0.25rem 0;
	--padding2: 2.5rem 2.5rem 0 2.5rem;
	--padding3: 1.625rem 1.625rem 0 1.625rem;
	--padding4: 1.5rem;
	--padding5: 0.93rem 1.5rem 0.93rem 1.5rem;
	--padding6: 3rem 1.5rem 3rem 1.5rem;
	--padding7: 0.625rem;
	--padding8: 2rem 0 0 0;
	--padding9: 1rem 0 1rem 0;
	--padding10: 1.5rem 0 1.5rem 0;
	--padding11: 1rem;
	--marginZero: 0;
	--margin1: 0 375rem 0 0 0;
	--margin3: 0 375rem 0 0 0;
	--margin4: 0 0 2.5rem 0;
	--margin5: 0.8rem 0 0.8rem 0;
	--margin6: 0 0 1.125rem 0;
	--marginbottomS: 0.93rem;
	--marginbottomM: 1rem;
	--marginbottomL: 1.87rem;
	--gapxsmall: 0.25rem;
	--gapsmall: 0.31rem;
	--gap: 0.625rem;
	--gapmedium: 0.5rem;
	--gaplarge: 0.93rem;
	--gapxlarge: 0.75rem;
	--gapxxlarge: 1rem;
	--gapxxxlarge: 1.5rem;
}

body {
	font-family: inherit;
	font-size: var(--font-size-small);
	font-weight: inherit;
	color: var(--color-dark);
	margin: var(--marginZero);
	line-height: var(--line-height-standard);
	letter-spacing: inherit;
	word-spacing: inherit;
	background-color: var(--color-light);
	line-break: strict;
}

.page-wrapper {
	position: relative;
	width: 100vw;
	z-index: 0;
	min-height: calc(65px + 100vh);
}

.nav-container {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	z-index: 3;
	height: 9rem;
}

.search-container {
	position: relative;
	background: var(--color-light);
	height: 4.375rem;
	z-index: 3;
}

.search-inner-grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr) 2.5rem;
	gap: var(--gap);
	padding-top: var(--padding-top-bottom);
	padding-inline-start: var(--padding-inline-start-end2);
	padding-inline-end: var(--padding-inline-start-end2);
}

.search-bar-holder {
	display: grid;
	align-items: stretch;
	color: var(--color-dark);
	box-shadow: var(--box-shadow1);
	border: var(--border1);
	border-radius: 62.5rem;
	min-height: 3.5rem;
}

.button-search {
	padding-inline-start: var(--padding-inline-start-end1);
	padding-inline-end: var(--padding-inline-start-end1);
	cursor: pointer;
	border: none;
	font-family: inherit;
	margin: var(--marginZero);
	align-items: center;
	padding: var(--paddingZero);
	line-height: inherit;
	background: transparent;
	font-weight: inherit;
	font-size: inherit;
	text-align: inherit;
	grid-template-columns: 3.25rem minmax(0, 1fr);
	border-radius: 62.5rem;
	width: 100%;
	height: 100%;
	position: relative;
	outline: none;
	letter-spacing: var(--spacing);
	text-decoration: none;
	max-width: 100%;
	color: inherit;
	display: inline-grid;
}

.magnifier-container {
	display: grid;
	place-items: center;
}

.search-text {
	padding-left: var(--padding-left);
	display: inline-block;
}

.search-text1 {
	font-weight: var(--font-weightL);
	font-size: var(--font-size-small);
	line-height: var(--line-height-standard);
	letter-spacing: var(--spacing);
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}

.search-text-container2 {
	padding-inline-end: var(--padding-inline-start-end2);
	line-height: var(--line-height-smaller);
	font-size: var(--font-size-smaller);
	display: flex;
	letter-spacing: var(--spacing);
	color: var(--color-grey);
	gap: var(--gapsmall);
}

.search-text2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 3.125rem;
	flex: 0 1 auto;
}

.settings-icon {
	align-self: center;
	position: relative;
}

.settings-button {
	cursor: pointer;
	margin: var(--marginZero);
	align-items: center;
	justify-content: center;
	padding: var(--paddingZero);
	border-radius: 50%;
	background: transparent;
	border: var(--border2);
	position: relative;
	display: inline-flex;
	height: 2.5rem;
	width: 2.5rem;
}

.icons-filter-places {
	scrollbar-width: none;
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: var(--color-light);
	margin: var(--marginZero);
	display: grid;
	gap: var(--gapxxlarge);
	grid-auto-flow: column;
	justify-content: flex-start;
	box-shadow: var(--box-shadow1);
}

.icons-padding-font {
	border-radius: 0.5rem;
	text-align: center;
	font-weight: var(--font-weightL);
	font-size: var(--font-size-smaller);
	cursor: default;
	margin: 0.75rem 0.6rem 0rem 0.6rem;
	letter-spacing: var(--spacing);
	color: var(--color-dark);
	width: max-content;
	
}

.icons {
	display: flex;
	flex-direction: row;
}

.icons2 {
	display: flex;
	scale:1;
	opacity: 0.4;
	gap: var(--gapxsmall);
	flex-direction: column;
	align-items: center;
	min-width: revert;
	cursor: pointer;
}

.icon-images {
	height: auto;
	max-width: 100%;
	width: 1.5rem;
}

.icon-text-holder {
	position: relative;
	white-space: nowrap;
}

.active {
	opacity: 1;
	cursor: pointer;
	animation: opacity 1s ease-in-out;
}

@keyframes opacity {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

.active::after {
	background-color: var(--color-dark);
	opacity: 1;
	inset-inline: 0;
	border-radius: 62.5rem;
	content: "";
	width: 100%;
	height: 2px;
	z-index: 1;
	animation: scale-up 0.3s ease-in-out;
}

@keyframes scale-up {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}

#container1 {
	display: grid;
	gap: var(--gaplarge);
	padding: var(--padding2);
	grid-template-columns: repeat(auto-fit, minmax(25.313rem, 1fr));
	max-width: 100%;
	margin: var(--margin1);
	justify-content: center;
	height: fit-content;
	z-index: 2;
}

@media all and (max-width: 500px) {
	#container1 {
		padding: var(--padding3);
	}
}

#container1 a {
	text-decoration: none;
}

.image-container {
	position: relative;
	justify-self: center;
	margin: var(--margin4);
	aspect-ratio: 20/19;
	width: 25.313rem;
}

@media all and (max-width: 500px) {
	.image-container {
		width: 22.813rem;
		height: 28.125rem;
	}
}

@media all and (max-width: 415px) {
	.image-container {
		width: 20.813rem;
		height: 26.125rem;
	}
}

.location-image {
	border-radius: 5%;
	width: 100%;
	height: 21.75rem;
	z-index: -1;
	object-fit: cover;
	margin-bottom: var(--marginbottomS);
}

.Heart {
	position: absolute;
	top: 0.62rem;
	right: 0.62rem;
	z-index: 0;
	fill: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.active2 {
	animation: scale-item 0.5s ease-in-out;
}

@keyframes scale-item {
	0% {
		scale: 0.8;
	}
	100% {
		scale: 1;
	}
}

.img-text {
	display: grid;
	gap: var(--gapsmall);
	align-items: center;
	color: var(--color-dark);
	height: 5.3rem;
	font-size: var(--font-size-larger);
	line-height: var(--line-height-medium);
	font-weight: inherit;
	grid-template-columns: 80% 20%;
	grid-template-rows: repeat(5, 0.93rem);
}

.country-name {
	font-weight: var(--font-weightL);
	grid-area: 1/1/2/2;
}

.description {
	color: var(--color-grey);
	grid-area: 2/1/3/2;
}

.date {
	color: var(--color-grey);
	grid-area: 3/1/4/2;
}

.rating {
	text-align: right;
	grid-area: 1/2/2/3;
}
.rating::before {
	content: "\02605";
	font-size: var(--font-size-largest);
}

.price {
	grid-area: 5/1/6/2;
	text-decoration: underline;
}

.digits {
	font-weight: var(--font-weightL);
}

header {
	font-size: var(--font-size-header);
	line-height: var(--line-height-larger);
	font-weight: var(--font-weightL);
}

.button-title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: var(--padding-top-bottom);
}

.show-more-container {
	font-size: inherit;
	white-space: nowrap;
	font-weight: var(--font-weightL);
	padding: var(--padding4);
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.show-more {
	padding: var(--padding5);
	margin-bottom: var(--marginbottomL);
	background-color: var(--color-dark);
	border-radius: 0.62rem;
	color: var(--color-light);
}

footer {
	background-color: var(--color-light);
	height: fit-content;
}

.footer-container {
	padding: var(--padding6);
}

h2 {
	font-family: "Montserrat";
	font-size: var(--font-size-huge);
	line-height: var(--line-height-Xtra);
	letter-spacing: var(--spacing-negative);
	font-weight: var(--font-weightL);
}

.Inspiration-Headings {
	height: 3.125rem;
	width: 100%;
}

.inspiration {
	white-space: nowrap;
	display: flex;
	overflow: scroll;
	flex-flow: column nowrap;
	max-width: 100%;
	height: 3.125rem;
}

.titles-span {
	height: 2.375rem;
	padding: var(--padding7);
	line-height: var(--line-height-small);
	font-weight: var(--font-weightL);
	color: var(--color-grey);
	transition: var(--transitions);
}

.titles-span:hover {
	cursor: pointer;
	color: var(--color-grey);
	border-bottom: var(--border-bottom);
}

.future-getaways-grid {
	height: fit-content;
	padding: var(--padding8);
}

.inspiration-order {
	display: grid;
	width: fit-content;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto-fit, minmax(4, 1fr));
	justify-content: center;
	align-items: center;
	column-gap: var(--gapmedium);
	row-gap: var(--gapxxxlarge);
}

.getaways-links {
	line-height: var(--line-height-small);
	font-size: var(--font-size-small);
	width: 50%;
	color: var(--color-grey);
	display: flex;
	flex-flow: column nowrap;
}

.Inspire-place-name {
	color: var(--color-dark);
	font-weight: var(--font-weightL);
}

li:nth-child(8) {
	display: flex;
	flex-flow: column nowrap;
	transition: var(--transitions);
}

li:nth-child(8):hover {
	cursor: pointer;
	text-decoration: underline;
}

.Down-Show {
	width: 0.8rem;
}

#line-break {
	width: 100%;
	height: 1px;
	margin: var(--margin5);
	background-color: var(--color-grey);
}

.supports-links {
	width: 100%;
	padding: var(--padding9);
	height: fit-content;
}

h3 {
	font-weight: var(--font-weightL);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	margin: var(--margin6);
}

.support-links-grid a {
	color: var(--color-dark);
	text-decoration: none;
}

.support-links-grid a:hover {
	text-decoration: underline;
}

.support-links-grid {
	display: grid;
	grid-auto-flow: row;
	gap: var(--gapxxlarge);
	font-weight: var(--font-weightS);
	line-height: var(--line-height-standard);
	color: var(--color-grey);
}

.footer-end {
	width: 100%;
	white-space: nowrap;
	padding: var(--padding10);
}

.privacy-copyright {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
}

.copyright {
	border: none;
	padding: var(--padding11);
	background-color: inherit;
}

.privacy a {
	color: var(--color-dark);
	width: 100vw;
}

.privacy a:hover {
	text-decoration: underline;
}

@media all and (max-width: 510px) {
	.privacy a {
		font-size: var(--font-size-smaller);
	}
}

@media all and (max-width: 415px) {
	.privacy a {
		font-size: var(--font-size-smallest);
	}
}

.social-links {
	display: flex;
	word-spacing: var(--spacing);
	gap: var(--gapxxlarge);
	margin-bottom: var(--marginbottomM);
	font-weight: var(--font-weightL);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	flex-flow: row nowrap;
	justify-content: center;
}

.facebook,
.twitter,
.instagram,
img {
	width: 1rem;
}
