@font-face {
	font-family: "Montserrat";
	src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
	--font-color: #222;
	--web-background: #fff;
	--font-family: "Montserrat";
	--line-height: 1.43;
	--line-height-large: 1.5;
	--font-size-small: 12px;
	--font-normal: 300;
	--font-large: 600;
	--font-bold: bold;
	--font-size: 14px;
	--letter-spacing: 0.5px;
	--text-decoration: underline;
	--img-container-height: 445px;
	--img-container-width: 365px;
	--heart-width: 27px;
	--icon-widths: 24px;
	--icon-container-width: 1fr;
	--search-bar: 65px;
	--search-bar-width: 315px;
	--search-bar-radius: 100px;
	--image-corner-radius: 15px;
	--filter-button-radius: 100px;
	--box-shadow: 0px 20px 20px -25px rgba(169, 169, 169, 0.45);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	letter-spacing: var(--letter-spacing);
	font-size: var(--font-size);
	font-family: var(--font-family);
	line-height: var(--line-height);
	font-weight: var(--font-normal);
	color: var(--font-color);
	background-color: var(--web-background);
	line-break: strict;
}

.top-bar {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
	margin-bottom: 5%;
	padding: 0 20px 0 20px;
	height: fit-content;
	background-color: var(--web-background);
	box-shadow: var(--box-shadow);
}

.search-bar-container {
	display: flex;
	width: 100%;
	height: fit-content;
	gap: 10px;
	padding-top: 14px;
	justify-content: center;
	align-content: center;
	flex-flow: row nowrap;
}

.icon-container {
	overflow: scroll;
	display: grid;
	grid-gap: 20px;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, minmax(var(--icon-container-width), 1fr));
	padding: 0 24px 0 24px;
	width: 100vw;
}

.icons {
	width: var(--icon-widths);
	height: var(--icon-widths);
}

.Text-Icons {
	font-size: var(--font-size-small);
	line-height: var(--line-height-large);
	letter-spacing: normal;
	text-align: center;
}

.ind-icons {
	display: flex;
	opacity: 60%;
	height: 100%;
	padding: 10px 0px 10px 0px;
	align-items: center;
	white-space: nowrap;
	flex-flow: column;
}

.ind-icons:hover {
	cursor: pointer;
	opacity: 100%;
	border-bottom: solid 2px #222;
	font-weight: var(--font-bold);
}

.magnifier {
	display: flex;
	margin: 10px;
	width: 30px;
	height: 30px;
}

.search-filter {
	display: flex;
	cursor: pointer;
	padding: 5px 50px 5px 10px;
	width: 308px;
	height: 54px;
	justify-content: flex-start;
	align-items: center;
	border-radius: 100px;
	border: solid 1px #d7d7d7;
	flex-flow: row;
	white-space: nowrap;
	letter-spacing: var(--letter-spacing);
	box-shadow: 0px 0px 110px 0px rgba(169, 169, 169, 0.45);
}

.Main-Search {
	width: 100%;
	display: flex;
	font-size: var(--font-size-medium);
	font-weight: 500;
}

.Secondary-Search {
	display: flex;
	gap: 3px;
	font-size: 10px;
	font-weight: var(--font-normal);
}

.filter-icons-contain {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 40px;
	align-self: center;
	border-radius: 100px;
	border: solid 1px #d7d7d7;
}

.filters-icon {
	width: 20px;
	height: 20px;
}

#container1 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--img-container-width), 1fr));
	max-width: 100vw;
	height: fit-content;
	z-index: 2;
}

#container1 a {
	text-decoration: none;
	color: var(--font-color);
}

.image-container {
	position: relative;
	justify-self: center;
	margin: 0px 5px 40px 5px;
	width: var(--img-container-width);
	height: var(--img-container-height);
}

.location-image {
	border-radius: var(--image-corner-radius);
	width: 100%;
	height: 348px;
	z-index: -1;
	object-fit: cover;
	margin-bottom: 15px;
}

.Heart {
	position: absolute;
	top: 10px;
	right: 10px;
	width: var(--heart-width);
	height: var(--heart-width);
	z-index: 3;
}

.Heart-Filled {
	opacity: 0%;
	position: absolute;
	top: 10px;
	right: 10px;
	width: var(--heart-width);
	height: var(--heart-width);
	z-index: 3;
	transition: all 1s ease-in-out;
}

.Heart-Filled:hover {
	opacity: 100%;
}

.img-text {
	width: var(--text-sizing-width);
	display: grid;
	align-items: center;
	height: 85px;
	grid-template-columns: 80% 20%;
	grid-template-rows: repeat(5, 15px);
}

.country-name {
	font-weight: var(--font-large);
	grid-area: 1/1/2/2;
}

.description {
	grid-area: 2/1/3/2;
}

.date {
	grid-area: 3/1/4/2;
}

.rating {
	text-align: right;
	grid-area: 1/2/2/3;
	font-size: 16px;
	font-weight: var(--font-size-medium);
}
.rating::before {
	content: "\02605";
	font-size: 19px;
}

.price {
	grid-area: 5/1/6/2;
	text-decoration: var(--text-decoration);
}

.digits {
	font-weight: var(--font-bold);
}
