@font-face {
	font-family: "Montserrat";
	src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat";
	line-height: 1.43;
	color: #222;
	background-color: #fff;
	margin: 0;
	line-break: strict;
}

#container {
	display: flex;
	flex-flow: row wrap;
	gap: 5%;
	justify-content: center;
	align-items: center;
	padding: 10%;
	max-width: 100vw;
}

.image-container {
	display: grid;
}

img {
	object-fit: cover;
	width: 300px;
	height: 300px;
	border-radius: 15px;
}

.img-text {
	display: grid;
	align-items: center;
	max-width: 300px;
	grid-template-columns: 80% 20%;
	grid-template-rows: repeat(5, 25px);
}

.country-name {
	font-weight: 700;
	grid-area: 1/1/2/2;
}

.description {
	font-weight: 400;
	grid-area: 2/1/3/2;
}

.date {
	grid-area: 3/1/4/2;
}

.rating {
	grid-area: 1/2/2/3;
}

.price {
	grid-area: 4/1/5/2;
}

.digits {
	font-weight: bold;
}
