@font-face {
	font-family: "Circular", sans-serif;
	src: url(Fonts/airbnb-cereal-font/AirbnbCereal_W_Bd.otf);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Circular" Helvetica, sans-serif;
	line-height: 1.43;
	color: #222;
	background-color: #fff;
	margin: 0;
	line-break: strict;
}
