@font-face {
	font-family: "Montserrat";
	src: url(../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

html {
	font-family: "Montserrat";
	font-size: 16px;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	font-weight: 400;
}

:root {
	--font-size-small: 0.875rem;
	--font-size-smaller: 0.75rem;
	--font-size-larger: 0.93rem;
	--font-size-header: 1.12rem;
	--font-size-largest: 1.18rem;
	--font-size-huge: 1.37rem;
	--font-weightL: 600;
	--font-weightS: 400;
	--spacing: normal;
	--spacing-negative: -0.01rem;
	--line-height-smaller: 1rem;
	--line-height-small: 1.125rem;
	--line-height-medium: 1.18rem;
	--line-height-standard: 1.25rem;
	--line-height-larger: 1.37rem;
	--line-height-Xtra: 1.62rem;
	--color-dark: #222;
	--color-light: #fff;
	--color-grey: #717171;
}

body {
	font-family: inherit;
	font-size: var(--font-size-small);
	font-weight: inherit;
	color: var(--color-dark);
	margin: 0;
	line-height: var(--line-height-standard);
	letter-spacing: inherit;
	word-spacing: inherit;
	background-color: var(--color-light);
	line-break: strict;
}

.page-wrapper {
	position: relative;
	z-index: 0;
	min-height: calc(65px + 100vh);
}

.nav-container {
	display: flex;
	flex-direction: column;
	left: 0px;
	position: sticky;
	right: 0px;
	top: 0px;
	z-index: 3;
	height: 9rem;
}

.search-container {
	position: relative;
	background: var(--color-light);
	height: 4.375rem;
	z-index: 3;
}

.search-inner-grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr) 2.5rem;
	gap: 0.625rem;
	padding-top: 0.875rem;
	padding-inline-start: 1.5rem;
	padding-inline-end: 1.5rem;
}

.search-bar-holder {
	display: grid;
	align-items: stretch;
	color: var(--color-dark);
	box-shadow: 0 0.188rem 0.625rem rgba(0 0 0/0.1);
	border: 0.5px solid rgba(0 0 0/0.08);
	border-radius: 62.5rem;
	min-height: 3.5rem;
}

.button-search {
	padding-inline-start: 0.25rem;
	padding-inline-end: 0.25rem;
	cursor: pointer;
	border: none;
	font-family: inherit;
	margin: 0;
	align-items: center;
	padding: 0;
	line-height: inherit;
	background: transparent;
	font-weight: inherit;
	font-size: inherit;
	text-align: inherit;
	grid-template-columns: 3.25rem minmax(0, 1fr);
	border-radius: 62.5rem;
	width: 100%;
	height: 100%;
	position: relative;
	outline: none;
	letter-spacing: var(--spacing);
	text-decoration: none;
	max-width: 100%;
	color: inherit;
	display: inline-grid;
}

.magnifier-container {
	display: grid;
	place-items: center;
}

.search-text {
	padding-left: 0.125rem;
	display: inline-block;
}

.search-text1 {
	font-weight: var(--font-weightL);
	font-size: var(--font-size-small);
	line-height: var(--line-height-standard);
	letter-spacing: var(--spacing);
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}

.search-text-container2 {
	padding-inline-end: 1.5rem;
	line-height: var(--line-height-smaller);
	font-size: var(--font-size-smaller);
	display: flex;
	letter-spacing: var(--spacing);
	color: var(--color-grey);
	gap: 0.313rem;
}

.search-text2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 3.125rem;
	flex: 0 1 auto;
}

.settings-icon {
	align-self: center;
	position: relative;
}

.settings-button {
	cursor: pointer;
	margin: 0;
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 50%;
	background: transparent;
	border: 1px solid #b0b0b0;
	position: relative;
	display: inline-flex;
	height: 2.5rem;
	width: 2.5rem;
}

.icons-filter-places {
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: var(--color-light);
	padding-inline-start: 2rem;
	padding-inline-end: 2rem;
	margin: 0;
	display: grid;
	gap: 12px;
	grid-auto-flow: column;
	justify-content: flex-start;
	height: 4.625rem;
	box-shadow: rgb(0 0 0 /16%) 0 0 0.375rem;
}

.icons-padding-font {
	border-radius: 0.5rem;
	text-align: center;
	font-weight: var(--font-weightL);
	font-size: var(--font-size-smaller);
	cursor: default;
	margin: 0.75rem 0 0.625rem;
	padding: 0.25rem 0;
	letter-spacing: var(--spacing);
	color: var(--color-dark);
	width: max-content;
}

.icons {
	display: flex;
	flex-direction: row;
}

.icons2 {
	display: flex;
	opacity: 0.4;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	min-width: revert;
	transition: all 0.2s cubic-bezier(0, 2, 0, 0, 1);
}

.icons2:hover {
	opacity: 1;
	cursor: pointer;
	transform: scale(95%);
}

.icon-images {
	height: auto;
	max-width: 100%;
	width: 1.5rem;
}

.icon-text-holder {
	position: relative;
	white-space: nowrap;
}

.icon-text-holder::after {
	background-color: var(--color-dark);
	opacity: 1;
	inset-inline: 0;
	position: absolute;
	content: "";
	height: 0.125rem;
	top: calc(100% + 0.625rem);
	transition: all 0.2s cubic-bezier(0, 2, 0, 0, 1);
}

#container1 {
	display: grid;
	gap: 0.93rem;
	padding: 2.5rem 2.5rem 0 2.5rem;
	grid-template-columns: repeat(auto-fit, minmax(var(--img-container-width), 1fr));
	max-width: 100vw;
	margin: 0 375rem 0 0 0;
	justify-content: center;
	height: fit-content;
	z-index: 2;
}

@media all and (max-width: 500px) {
	#container1 {
		padding: 1.625rem 1.625rem 0 1.625rem;
	}
}

#container1 a {
	text-decoration: none;
}

.image-container {
	position: relative;
	justify-self: center;
	margin: 0 0 2.5rem 0;
	width: 25.313rem;
	height: 31.25rem;
}

@media all and (max-width: 500px) {
	.image-container {
		width: 22.813rem;
		height: 28.125rem;
	}
}

.location-image {
	border-radius: 5%;
	width: 100%;
	height: 21.75rem;
	z-index: -1;
	object-fit: cover;
	margin-bottom: 0.93rem;
}

.Heart {
	position: absolute;
	top: 0.62rem;
	right: 0.62rem;
	z-index: 1;
}

.img-text {
	display: grid;
	gap: 0.31rem;
	align-items: center;
	color: var(--color-dark);
	height: 5.3rem;
	font-size: var(--font-size-larger);
	line-height: var(--line-height-medium);
	font-weight: inherit;
	grid-template-columns: 80% 20%;
	grid-template-rows: repeat(5, 0.93rem);
}

.country-name {
	font-weight: var(--font-weightL);
	grid-area: 1/1/2/2;
}

.description {
	color: var(--color-grey);
	grid-area: 2/1/3/2;
}

.date {
	color: var(--color-grey);
	grid-area: 3/1/4/2;
}

.rating {
	text-align: right;
	grid-area: 1/2/2/3;
}
.rating::before {
	content: "\02605";
	font-size: var(--font-size-largest);
}

.price {
	grid-area: 5/1/6/2;
	text-decoration: underline;
}

.digits {
	font-weight: var(--font-weightL);
}

header {
	font-size: var(--font-size-header);
	line-height: var(--line-height-larger);
	font-weight: var(--font-weightL);
}

.button-title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	padding-bottom: 0.87;
}

.show-more-container {
	font-size: inherit;
	white-space: nowrap;
	font-weight: var(--font-weightL);
	padding: 1.5rem;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.show-more {
	padding: 0.93rem 1.5rem 0.93rem 1.5rem;
	margin-bottom: 1.87rem;
	background-color: var(--color-dark);
	border-radius: 0.62rem;
	color: var(--color-light);
}

footer {
	background-color: var(--color-light);
	height: fit-content;
}

.footer-container {
	padding: 3rem 1.5rem 3rem 1.5rem;
}

h2 {
	font-family: "Montserrat";
	font-size: var(--font-size-huge);
	line-height: var(--line-height-Xtra);
	letter-spacing: var(--spacing-negative);
	font-weight: var(--font-weightL);
}

.Inspiration-Headings {
	height: 3.125rem;
	width: 100%;
}

.inspiration {
	white-space: nowrap;
	display: flex;
	overflow: scroll;
	flex-flow: column nowrap;
	max-width: 100vw;
	height: 3.125rem;
}

.titles-span {
	height: 2.375rem;
	padding: 0.625rem;
	line-height: var(--line-height-small);
	font-weight: var(--font-weightL);
	color: var(--color-grey);
	transition: all 0.2s cubic-bezier(0, 2, 0, 0, 1);
}

.titles-span:hover {
	cursor: pointer;
	color: var(--color-grey);
	border-bottom: solid 0.125rem #222;
}

.future-getaways-grid {
	height: fit-content;
	padding: 2rem 0 0 0;
}

.inspiration-order {
	display: grid;
	width: fit-content;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto-fit, minmax(4, 1fr));
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;
	row-gap: 1.5rem;
}

.getaways-links {
	line-height: var(--line-height-small);
	font-size: var(--font-size-small);
	width: 50vw;
	color: var(--color-grey);
	display: flex;
	flex-flow: column nowrap;
}

.Inspire-place-name {
	color: var(--color-dark);
	font-weight: var(--font-weightL);
}

li:nth-child(8) {
	display: flex;
	flex-flow: column nowrap;
	transition: all 0.2s cubic-bezier(0, 2, 0, 0, 1);
}

li:nth-child(8):hover {
	cursor: pointer;
	text-decoration: underline;
}

.Down-Show {
	width: 0.8rem;
}

#line-break {
	width: 100%;
	height: 1px;
	margin: 0.8rem 0 0.8rem 0;
	background-color: var(--color-grey);
}

.supports-links {
	width: 100%;
	padding: 1rem 0 1rem 0;
	height: fit-content;
}

h3 {
	font-weight: var(--font-weightL);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	margin: 0 0 1.125rem 0;
}

.support-links-grid a {
	color: var(--color-dark);
	text-decoration: none;
}

.support-links-grid a:hover {
	text-decoration: underline;
}

.support-links-grid {
	display: grid;
	grid-auto-flow: row;
	gap: 1rem;
	font-weight: var(--font-weightS);
	line-height: var(--line-height-standard);
	color: var(--color-grey);
}

.footer-end {
	width: 100%;
	white-space: nowrap;
	padding: 1.5rem 0 1.5rem 0;
}

.privacy-copyright {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
}

.copyright {
	border: none;
	padding: 1rem;
	background-color: inherit;
}

.privacy a {
	color: var(--color-dark);
	width: 100%;
	white-space: nowrap;
}

.privacy a:hover {
	text-decoration: underline;
}

.social-links {
	display: flex;
	word-spacing: var(--spacing);
	gap: 1rem;
	margin-bottom: 1rem;
	font-weight: var(--font-weightL);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	flex-flow: row nowrap;
	justify-content: center;
}

.facebook,
.twitter,
.instagram,
img {
	width: 1rem;
}
